body{
	margin: 0 ;
	background-color: #107BB0;
	font-family:  'PT Sans', sans-serif;
	font-size: 12px;
	color:white;
	font-weight: bolder;
	


}

/*HEADER*/
header{
	position: fixed;
	background-color: #0C6692;
	color:white;
	margin-top: -13px;
    height: 55px;
	width:100%;
	
}


nav ul li {
	
	display: inline-block;
	border-radius: 5px;
}

/* clases de listas con fondo transparente*/
.type1, .type2, .type4, .type5, .type6{
background-color: rgba(250, 250, 250, 0.2);
height: 10px;
padding: 1%;
}

/*div tablero*/
.type1 {
	display: inline-block;
	margin-top: 0;
	width: 80px;
}


.type1 span {
	display: inline-block;
	font-size: 14px;
	margin-left: 5px;
}

/*buscador*/
.type2 {
width: 120px;
margin-bottom: 1px;
}

.type2 i {
	margin-left: 100px;
}

/*logo trello*/
.type3 {
	position: relative;
	width: 60px;
	opacity: 0.5;
	left: 300px;
}

/*icono mas*/
.type4{
	display: inline-block;
	margin-left: 600px;	
}

/*icono campana*/
.type5{	
}

/*icono configuracion*/
.type6{	
}



/*PARTE CENTRAL*/
section {

	top: 20px;
	color: white;
	width: 450px;
	margin-right: 3%;


}

section h1 {

	margin-left: 25px;
}

/*iconos junto a titular*/
.iconosTablero {
    float: right;
	width: 150px;
	margin-top:-55px;
	
}

.privado{
    display: inline-block;
    padding-right: 15%;
    margin-bottom: 8%;
    font-size: 16px;
    padding-left: 5%;
 
}

.fa-star-o, .fa-lock {
	padding-left: 5%;
}


#lista{
	margin-left: 50px;
	display: block;
	width: 180px;
	background-color: #0A5178;
	padding: 0.5%;
	border-radius: 3px;
}

/*SECCION TABLERO*/
#tablero h1{
	padding-top: 100px;
	padding-left: 30px;
}


/*CREANDO FORMULARIO*/
#anadirLista {
 display: inline-block;

}
#form{
	display: none;
	width: 200px;
	background-color: #DFE0E4;
	padding: 2px;
	margin-top: 0px;
	border-radius: 5px;
	margin-left: 50px;
}



input{

	width: 180px;
	border-radius: 5px;
	height: 20px;
}

#comentar {
	background-color: #52B653;
	color: white;
	border: none;
	margin-top: 5%;
	padding: 3%;
	width: 30%;
	font-weight: bolder;
	border-radius: 5px;
}

#etiqueta {
 color:black;
 visibility: hidden;
 
}

/*contenedor nueva lista*/
#nuevaLista {
background-color: #DFE0E4;
width: 200px;
margin-left: 50px;
color:black;
border-radius: 5px;
margin-top: 5px;
}

#nuevoFormulario{
	width: 200px;
	background-color: #DFE0E4;
	margin-top: 0px;
	border-radius: 5px;
	margin-left: 50px;
}

